{% extends './layout/layout.html' %}

{% block content %}
<div>
  <div class="container-fluid">
  
    <form id="resi-form" action="/users/{{user.id}}/list" method="post">
      <div class="form-group" style="max-width: 20rem; float: none; margin:0 auto;">
        <label class="col-form-label mt-1" for="resi-room">방</label>
        <input id="resi-room" name="room" type="text" class="form-control">
        <label class="col-form-label mt-1" for="resi-name">이름</label>
        <input id="resi-name" name="name" type="text" class="form-control">
        <button id="resi-btn" type="submit" class="btn btn-outline-primary my-4">사생 추가</button>
      </div>
      
    </form>
  </div>

  {% if residents.length !== 0 %}

  <div class="container-fluid my-5">
    <h3>{{user.floor}}층 사생 명단</h3>
    <table class="table table-hover" border="1" cellpadding="10" id="resi-list-id">
      <thead>
        <tr class="table-light">
          <th scope="row">방</th>
          <th>이름</th>
        </tr>
      </thead>
      <tbody>
        {% for resident in residents %}
        <tr>
          <td>{{resident.room}}</td>
          <td>{{resident.name}}</td>
          <td>
            <button class="btn btn-outline-danger" type="button" id="resi-del-btn" value="삭제" onclick="delRow( '{{resident.id}}', this )">삭제</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>총원 {{residents.length}} (새로고침 시 총 인원이 적용됩니다.)</p>
  </div>
  {% else %}
  <h3>사생 명단이 비어있습니다. 사생을 추가해주세요.</h3>
  {% endif %}

</div>
{% endblock %}

{% block script %}
{% endblock %}