{% extends './layout/layout.ejs' %}

{% block content %}
<div class="timeline">
  <form id="join-form" action="/auth/join" method="post">
    <div class="input-group">
      <label for="join-uid">Id</label>
      <input id="join-uid" type="uid" name="uid" placeholder="영어 or 영어+숫자">
    </div>
    <div class="input-group">
      <label for="join-nick">닉네임</label>
      <input id="join-nick" type="text" name="nick" placeholder="한글도 괜찮습니다">
    </div>
    <div class="input-group">
      <label for="join-floor">담당 층</label>
      <input id="join-floor" type="text" name="floor" placeholder="반드시 담당 층 1개만!">
    </div>
    <div class="input-group">
      <label for="join-password">비밀번호</label>
      <input id="join-password" type="password" name="password" placeholder="분실된 비밀번호는 못 찾아드립니다">
    </div>
    <button id="join-btn" type="submit" class="btn">회원가입</button>
  </form>
</div>
{% endblock %}

{% block script %}
<script>
  window.onload = () => {
    if (new URL(location.href).searchParams.get('error')) {
      alert('이미 존재하는 이메일입니다.');
    }
  };
</script>
{% endblock %}