{% extends './layout/layout.ejs' %}

{% block content %}
<div>
  {% if residents %}
  {% include "./resi-form.ejs" %}
  {% include "./resi-list.ejs" %}

  {% else %}
  <h2>
    사생 명단을 입력해 주세요
  </h2>
  {% include "./resi-form.ejs" %}
  {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
  async function delRow(row, obj) {
    try {
      await axios.delete(`/resident/${row}`);
      var tr = obj.parentNode.parentNode;
      tr.parentNode.removeChild(tr);
    } catch (err) {
      console.error(err)
    }
  }
</script>
<script src="main.js"></script>
{% endblock %}