{% extends './layout/layout.ejs' %}

{% block content %}

<div>
  {% for resident in residents %}
  <ul>{{resident.room}} {{resident.name}}</ul>
  {% endfor %}
</div>

{% endblock %}

{% block script %}

{% endblock %}