{% extends './layout/layout.html' %}

{% block content %}
<div class="container-fluid">
  <form id="join-form" action="/users/{{user.id}}" method="post">
    <div class="form-group" style="max-width: 20rem; height: 25rem; float: none; margin:0 auto;">
      <fieldset disabled="">
        <label class="form-label mt-3" for="disabledInput">Id</label>
        <input class="form-control" id="disabledInput" name="uid" type="text" placeholder="{{user.uid}}" disabled="">
      </fieldset>
      <label class="col-form-label mt-1" for="profile-nick">Nickname</label>
      <input id="profile-nick" name="nick" type="text" class="form-control" value="{{user.nick}}">
      <label class="col-form-label mt-1" for="profile-floor">담당 층</label>
      <input id="profile-floor" name="floor" type="text" class="form-control" value="{{user.floor}}">

      <button id="profile-btn" type="submit" class="btn btn-primary my-5 max-width: 20rem; float: none; margin:0 auto;">정보
        수정</button>
    </div>
    
  </form>
</div>
{% endblock %}
{% block script %}
{% endblock %}
