<div>
  <h3>{{user.floor}}층 사생 명단</h3>
  <table border="1" cellpadding="10" id="resi-list-id">
    <thead>
      <tr>
        <th>방</th>
        <th>이름</th>
      </tr>

    </thead>
    <tbody>
      {% for resident in residents %}
      <tr>
        <td>{{resident.room}}</td>
        <td>{{resident.name}}</td>
        <td>
          <button type="button" id="resi-del-btn" value="삭제" onclick="delRow( '{{resident.id}}', this )">삭제</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>