{% extends './layout/layout.html' %}

{% block content %}
<p>점호를 마친 후에는 <strong>'저장 내역 삭제'</strong>를 눌러주세요.</p>
<p>점호 정보가 유실되었다면 <strong>'불러오기'</strong>를 눌러주세요.</p>

<div class="container-fluid my-5">
  <h3>{{user.floor}}층 사생 명단</h3>
  <table class="table table-hover" border="1" cellpadding="10" id="resi-list-id">
    <thead>
      <tr class="table-light">
        <th scope="row">방</th>
        <th>이름</th>
        <th>정상</th>
        <th>무단</th>
        <th>불응</th>
        <th>재실</th>
      </tr>
    </thead>
    <tbody>
      {% for resident in residents %}

      <tr>
        <td>{{resident.room}}</td>
        <td>{{resident.name}}</td>
        <td>
          <label for="ok{{loop.index}}"><input type="checkbox" id="ok{{loop.index}}" name="ok" value='정상'
              onclick='getCheckboxCnt(name); saveCheckbox(`${name}{{loop.index}}`)' />
            정상
          </label>
        </td>
        <td>
          <label for="out{{loop.index}}"><input type="checkbox" id="out{{loop.index}}" name="out" value='무단'
              onclick='getCheckboxCnt(name); getResidentsPenalty(name); saveCheckbox(`${name}{{loop.index}}`)' />
            무단
          </label>
        </td>
        <td>
          <label for="no{{loop.index}}"><input type="checkbox" id="no{{loop.index}}" name="no" value='불응'
              onclick='getCheckboxCnt(name); getResidentsPenalty(name); saveCheckbox(`${name}{{loop.index}}`)' />
            불응
          </label>
        </td>
        <td>
          <label for="in{{loop.index}}"><input type="checkbox" id="in{{loop.index}}" name="in" value='재실'
              onclick='getCheckboxCnt(name); saveCheckbox(`${name}{{loop.index}}`)' />
            재실
          </label>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  <label for="sanitizer"><input type="checkbox" id="sanitizer" name="sanitizer" value='손소독제' onclick="isOK(name)" />
    손소독제
  </label>
  <label for="thermometer"><input type="checkbox" id="thermometer" name="thermometer" value='체온계' onclick="isOK(name)"/>
    체온계
  </label>
<div class="container-fluid my-3">
  <button type="button" class="btn btn-outline-success" onclick="getAllCheckbox(`{{residents.length}}` ) ">불러오기</button>
  <button type="button" class="btn btn-danger" onclick="deleteCheckbox()">저장 내역 삭제</button>
</div>
  

  <div class="result-message">
    <p>{{user.floor}} 층</p>

    <div>
      총원 {{residents.length}}
    </div>
    <div>
      정상 <span id="result-ok">0</span>
    </div>
    <div>
      무단 <span id="result-out">0</span>
      <div id="out-room"></div>
    </div>
    <div>
      불응 <span id="result-no">0</span>
      <div id="no-room"></div>
    </div>
    <div>
      재실 <span id="result-in">0</span>
    </div>
    <div>
      손소독제 <span id="result-sanitizer">교체 예정</span>,
      체온계 <span id="result-thermometer">교체 예정</span>
      입니다.
    </div>
    
  </div>

</div>

{% endblock %}

{% block script %}
<script src="/main.js"></script>
{% endblock %}
