<div class="timeline">
  <h3>{{user.floor}}층 사생 명단</h3>
  <table border="1" cellpadding="10" id="resi-list-id">
    <thead>
      <tr>
        <th>방</th>
        <th>이름</th>
        <th>정상</th>
        <th>무단</th>
        <th>불응</th>
        <th>재실</th>
      </tr>
    </thead>
    <tbody>
      {% for resident in residents %}
      
      <tr>
        <td>{{resident.room}}</td>
        <td>{{resident.name}}</td>
        <td>
          <label for="ok{{loop.index}}"><input type="checkbox" id="ok{{loop.index}}" name="ok" value='정상'
              onclick='getCheckboxCnt(name); saveCheckbox(`${name}{{loop.index}}`)' />
            정상
          </label>
        </td>
        <td>
          <label for="out{{loop.index}}"><input type="checkbox" id="out{{loop.index}}" name="out" value='무단'
              onclick='getCheckboxCnt(name); getResidents(name); saveCheckbox(`${name}{{loop.index}}`)' />
            무단
          </label>
        </td>
        <td>
          <label for="no{{loop.index}}"><input type="checkbox" id="no{{loop.index}}" name="no" value='불응'
              onclick='getCheckboxCnt(name); getResidents(name); saveCheckbox(`${name}{{loop.index}}`)' />
            불응
          </label>
        </td>
        <td>
          <label for="in{{loop.index}}"><input type="checkbox" id="in{{loop.index}}" name="in" value='재실'
              onclick='getCheckboxCnt(name); saveCheckbox(`${name}{{loop.index}}`)' />
            재실
          </label>
        </td>
      </tr>
     
      {% endfor %}
    </tbody>
  </table>

  <button onclick="getCheckbox(`{{residents.length}}` ) " >불러오기</button>
  <button onclick="deleteCheckbox()">저장 내역 삭제</button>

  <div>
    총원 {{residents.length}}
  </div>
  <div>
    정상 <span id="result-ok">0</span>
  </div>
  <div>
    무단 <span id="result-out">0</span> 
    <div id="out-room"></div>
  </div>
  <div>
    불응 <span id="result-no">0</span>
    <div id="no-room"></div>
  </div>
  <div>
    재실 <span id="result-in">0</span>
  </div>
</div>