{% extends '../layout/layout.html' %}

{% block content %}
{% if user %}
<form>
  <div class="form-group">
    <label for="suggestTextArea" class="form-label mt-4">개발자에게 건의하기</label>
    <textarea class="form-control" id="suggestTextArea" rows="5" placeholder="겪은 불편함을 공유해주세요! 기쁜 마음으로 개선하겠습니다."></textarea>
  </div>
  <div class="my-2">
    <button type="submit" class="btn btn-primary">의견 제출하기</button>
  </div>
</form>


{% endif %}

{% endblock %}


{% block script %}
<script src="/main.js"></script>
{% endblock %}