{% extends '../layout/layout.html' %}

{% block content %}
{% if user %}
<div class="container-fluid my-5">
  <div class="list-group">
    <a href="/rollcall" class="list-group-item list-group-item-action">점호하러 가기</a>
    <a href="/users/{{user.id}}/list" class="list-group-item list-group-item-action">사생 명단 수정</a>
    <a href="/how2use" class="list-group-item list-group-item-action text-danger">사용법 (필독) </a>
    <a href="" class="list-group-item list-group-item-action disabled">Patch Note</a>
    <a href="/board" class="list-group-item list-group-item-action disabled">개발자에게 건의하기</a>
  </div>
</div>


{% endif %}

{% endblock %}


{% block script %}
<script src="/main.js"></script>
{% endblock %}