<!DOCTYPE html>
<html lang="en">

{% include "./head.ejs" %}

<body>

  <div class="container">
    <center>
      <div><a href="/">home</a></div>
      <div class="profile-wrap">
        <div class="profile">
          {% if user and user.id %}
          <div class="user-name">{{'안녕하세요! ' + user.nick + '님'}}</div>
          <div class="user-floor">{{user.floor + '층 잘 부탁드립니다!'}}</div>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <a id="my-profile" href="/user/{{user.id}}" class="btn">내 프로필</a>
          <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
          <a id="resident-list" href="/resident/{{user.id}}/list" class="btn">사생 수정</a>

          {% else %}
          <form id="login-form" action="/auth/login" method="post">
            <div class="input-group">
              <label for="uid">id</label>
              <input id="uid" type="uid" name="uid" required autofocus>
            </div>
            <div class="input-group">
              <label for="password">비밀번호</label>
              <input id="password" type="password" name="password" required>
            </div>
            <a id="join" href="/join" class="btn">회원가입</a>
            <button id="login" type="submit" class="btn">로그인</button>
            <a id="kakao" href="/auth/kakao" class="btn">카카오톡</a>
          </form>
          {% endif %}
        </div>
        {% include "./footer.ejs" %}
      </div>
    </center>
    {% block content %}
    {% endblock %}
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('loginError')) {
        alert(new URL(location.href).searchParams.get('loginError'));
      }
    };
  </script>
  {% block script %}
  {% endblock %}
</body>

</html>